/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 2.4.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

.coupon-msg .uabb-creative-default-btn{
	display: flex;
}

.button-wrapper-default a, .button-wrapper-default a.button {

    background: transparent!important;
    color: #6C0404!important;
    border: 2px solid #6C0404!important;
}
.gform_wrapper .gfield_time_ampm select{
	padding: 14px 7px !important;
    margin-left: -3px !important;
}
.entry-header > .entry-title{
	display: none!important;
	margin:0px!important;
}
.brandSlider .uabb-image-carousel .slick-track {
    display: flex;
        align-items: center;
}
.button-wrapper-default a:hover, .button-wrapper-default a.button:hover {

    background: #6C0404!important;
    color: #fff!important;
    border: 2px solid #6C0404!important;
}
.footer .store-opening-hrs{
	list-style: none;
}

.footer .store-opening-hrs li{
	position: relative;
}

.footer .store-opening-hrs li > span{
	position: absolute;
	right: 0px;
}
.footer .social-icons i{
	font-size: 24px!important;
}
#menu-main-menu > li > .sub-menu > li.uabb-has-submenu  span.uabb-menu-toggle{
	padding: 5px 10px!important;
}
#breadcrumbs a{
	text-transform: capitalize!important;
}
.custom_searchModule {
	display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
 	background-color: #6C0004!important;
    width: 500px;
}
.custom_searchModule > .fl-module-content{
	background-color: #6C0004!important;
}
.custom_searchModule .widget_search .search-field, .custom_searchModule .widget_search .search-field:focus {
    padding: 8px 45px 8px 10px!important;
}
.footerCopyRightBar .fl-rich-text p, .footer .fl-rich-text > p{
	margin: 0px!important;
}
.footerCopyRightBar .fl-rich-text li{
	margin-bottom: 0px!important;
}
.footerCopyRightBar .social-icons i{
	color: #a49e99!important;
	font-size: 24px!important;
}
.ast-container #primary, .page .entry-header{
	margin: 0px!important;
}
.content.site-content {
	overflow-x: hidden!important;
}
 body .fl-button{
	background-clip: border-box;
	border-radius: 0px!important;
	border: 2px solid #6C0404!important;
	background: rgba(255,255,255,0)!important;

}
body .fl-button:hover{
	border-color: #6C0404!important;
	color: #ffffff!important;
	background: #6C0404!important;
}
body .fl-button:hover span{
    color: #ffffff!important;
}
.gfield{
	padding-right: 15px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.product-grid > .product-row h2,  .entry-content .product-grid > .product-row h2, .entry-content .product-grid > .product-row h2 a {
    font-size: 30px!important;
}
.topBar .storename .phone a{
	color: #fff!important;
}
.topBar .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.addressInline .fl-rich-text > p{
	margin: 0px!important;
}
.addressInline .fl-rich-text .storename .address a{
	display: flex!important;
}
.addressInline .fl-rich-text .storename .address a > p:nth-child(2){
	margin-left: 4px!important;
}
#responsive-menu-additional-content .storename .phone a > span:before{
	content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-additional-content .storename .phone a > span{
	color: #fff!important;
}
.search_result .product-grid h2 > a{
	font-size: 30px!important;
}

.search_result .product-grid .fl-button{
	display: inline-block!important;
    font-size: 16px!important;
    font-weight: normal!important;
    line-height: 18px!important;
    padding: 12px 24px!important;
    text-decoration: none!important;
    text-shadow: none!important;
}

.product-grid.swatch h4 {
    font-size: 14px!important;
}
.product-variations .slick-list{
	width: 100%!important;
}
.product-detail-layout-default .product-variations {
	display: inline-block!important;
} 
#breadcrumbs{
	position: relative!important;
	z-index: 10!important; 
}
.fl-content-slider-navigation > .slider-prev, .fl-content-slider-navigation > .slider-next{
	background-color: rgba(0,0,0,0.6)!important;
    padding: 4px!important;
}
.skin_btn .fl-button{
	background-color: #02528A!important;
	color: #fff!important;
}
.skin_btn .fl-button{
	background-color: #02528A!important;
	color: #fff!important;
}
.no-btn-skin > .fl-module-content > .fl-button-wrap > a.fl-button:hover * {
    color: #007e8e!important;
}
body .fl-button{
	color: #6C0404!important;
}
.store-opening-hrs li{
	    position: relative;
}
.store-opening-hrs li span{
	    position: absolute;
	    right: 0px;
}
.product-detail-layout-6 .button-wrapper{
    display: inline-block!important;
    width: 100%!important;
}
.blogPost .uabb-blog-posts-shadow{
	    height: auto!important;
}
.blogPost .widget .widgettitle{
	font-size: 26px!important;
}
.ast-title-bar-wrap {
    margin-bottom: 0px!important;
}
body.blog #content{
	padding: 20px!important;
}
.custom_searchHeader > i{
		font-size: 18px;
	    transform: rotate(90deg);
	}
 @media screen and (min-width: 768.5px) and (max-width: 1366.5px) {
	
	#menu-main-menu > li.menu-item-has-children > div{
		display: flex;
	    align-items: center;
	}
#menu-main-menu > li.menu-item-has-children > div > span{
	order: 1;
	color: #b49462!important;
	padding-left: 5px!important;
}

 }

@media screen and (min-width: 768.5px) and (max-width: 1024px) {
h3.uabb-ultb3-title {
    font-size: 26px!important;
}

}
@media screen and (max-width: 1024px) {
	.style-product_list .pro-container > .row > .col-md-7{
		width: 100%!important;
		min-height: 400px!important;
	}
}
@media screen and (max-width: 992px) {
	#responsive-menu-additional-content, #responsive-menu-search-box{
		padding: 10px 5%!important;
	}
/* 	.ast-custom-header > div > div > div:nth-child(1){
		display: none!important;
	} */

	.uabb-creative-menu-mobile-toggle-container {
		display: none!important;
	}
	#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link{
		text-transform: uppercase;
	}

	.ast-custom-header #menu-main-menu {
		display: none!important;
	}
	button#responsive-menu-button{
		width: 40px!important;
		height: 40px!important;
	}
}

@media screen and (max-width: 768px) {
	body.page-template #page{
		overflow: hidden;
	}
	h2, .entry-content h2, .entry-content h2 a {
    font-size: 40px;
    line-height: 1.3;
}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
		padding: 0px !important;
	}
	.footer .fl-module-heading .fl-heading,
	.footerCopyRightBar .fl-rich-text p, .footer .fl-rich-text > p{
		text-align: center !important;
	}
	.store-opening-hrs{
		    max-width: 190px;
    margin: 0 auto !important;
	}
	.fl-slide-0 .fl-slide-content{
		padding: 0px!important;
		background: #fff!important;
	}
	.max-width-issue{
		max-width: 360px!important;
	}
	.max-width-issuetwo{
		max-width: 400px!important;
	}
	  .headerLogo .uabb-photo-content img{
   		width: 225px!important;
   }
	button#responsive-menu-button{
		position: absolute!important;
	}
	.fl-slide-0 .fl-slide-content {
    	background-color: #fff;
	}
	.product-grid > .product-row h2,  .entry-content .product-grid > .product-row h2, .entry-content .product-grid > .product-row h2 a {
    font-size: 30px!important;
}
}
@media screen and (max-width: 425px) {
	.mhtwen > .fl-module-content{
		margin-left: 20px!important;
		margin-right: 20px!important;
	}
	
	.gfield{
	padding-right: 0px!important;
}
	.max-width-issue{
		max-width: none!important;
	}

.gform_footer {
	padding-right: 15px!important;
}
}